#  Calling the dynamic library.
useDynLib(diffHic, .registration=TRUE, .fixes="cxx_")

#  All functions exported, sorted by approximate function:
export(diffHicUsersGuide,
	cutGenome, segmentGenome,
    preparePairs, mergePairs, savePairs, prepPseudoPairs,
	getPairData, prunePairs, 
	loadChromos, loadData,
	DIList, pairParam,
    squareCounts, connectCounts, marginCounts, totalCounts, 
    correctedContact, normalizeCNV, matchMargins,
    getDistance, getArea,
	filterDirect, filterTrended, filterDiag,
	filterPeaks, enrichedPairs, neighborCounts,
    boxPairs, clusterPairs, consolidatePairs,
	compartmentalize, domainDirections,
    plotPlaid, rotPlaid, plotDI, rotDI)

# Exporting the DIList class.
exportClasses(
    DIList, pairParam
)

exportMethods(
    anchors, targets, counts, regions, 
	asDGEList, normOffsets, reform
    , normalize
)

# Requires several imports.
import(Rsamtools,GenomicRanges,Biostrings,BSgenome,rhdf5,
	IRanges,S4Vectors,GenomeInfoDb,
	edgeR,limma,locfit,methods,csaw)
	
importFrom("BiocGenerics", counts)

